<h2>You can add a new place of interest here</h2>


<form>
    <fieldset>
     
     <label>Name</label><br>
     <input type="text" name="placeOfInterestName" id="placeOfInterestName" pattern="[A-za-z\s]{3,}" required><br>
     <label>Description</label><br>
     <textarea name="placeOfInterestDescription" id="placeOfInterestDescription" rows="10" cols="43" placeholder="Please, describe the new place of interest." required></textarea><br>
	 <label>Image (path to image)</label><br>
     <input type="text" name="placeOfInterestImage" id="placeOfInterestImage" pattern="[a-z-.\/]{3,}" required><br>
     <label>Image (path to image)</label><br>
     <input type="text" name="imageWikipediaLink" id="imageWikipediaLink" pattern="[a-z-.\/]{3,}" required><br><br>
     <button class="submitBtn" onclick="addPlaceOfInterest()">Add Place of Interest</button><br>
    </fieldset>
    

   </form>