<h2><%= place_of_interest.get('name') %></h2>


        <section class="generalplaceofinterest"><p><img class="float-image" src="<%= place_of_interest.get('image') %>" class="placeofinterestimage">
		<b>Description:</b> <%= place_of_interest.get('description') %><br>
		</p></section>