<h2 id="change2">Places to visit</h2>


    <% placesOfInterest.forEach(function(placeOfInterest) { %>
        <section class="generalplaceofinterest"><div><img src="<%= placeOfInterest.placeOfInterestImage %>"class="placeofinterestimage"></div><div class="placesOfInterestItemList"><h2><%= placeOfInterest.placeOfInterestName %></h2><input type="hidden" name="id" pattern="[0-9]{1,}" id="id" value="<%= placeOfInterest.placeOfInterestId %>"><button type="button" class="btn btn-success getDetailsButton" onclick="getPlaceOfInterestDetails(<%= placeOfInterest.placeOfInterestId %>)">Get details</button></div></section>	
    <% }); %>